<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="user">
		
		<insert id="insertUser" parameterType="kr.co.jhta.vo.User">
			INSERT INTO spring_users
				(user_id, user_name, user_password, user_email, user_created_date)
			VALUES
				(#{id}, #{name}, #{password}, #{email}, SYSDATE)
		</insert>
</mapper>